In [2]:
import pandas as pd

pickle_file = "data/bikes.pkl"

trip_data = pd.read_pickle(pickle_file)

trip_data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>bike_id</th>
      <th>duration</th>
      <th>start_station_id</th>
      <th>end_station_id</th>
      <th>start_str</th>
      <th>end_str</th>
      <th>start_dt</th>
      <th>start_day</th>
      <th>start_month</th>
      <th>start_year</th>
      <th>start_hour</th>
      <th>start_day_of_week</th>
      <th>start_ts</th>
      <th>end_dt</th>
      <th>end_day</th>
      <th>end_month</th>
      <th>end_year</th>
      <th>end_hour</th>
      <th>end_day_of_week</th>
      <th>end_ts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>11834</td>
      <td>240</td>
      <td>18</td>
      <td>383.0</td>
      <td>10/01/2016 00:00</td>
      <td>10/01/2016 00:04</td>
      <td>2016-01-10 00:00:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384000</td>
      <td>2016-01-10 00:04:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384240</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9648</td>
      <td>300</td>
      <td>479</td>
      <td>719.0</td>
      <td>10/01/2016 00:00</td>
      <td>10/01/2016 00:05</td>
      <td>2016-01-10 00:00:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384000</td>
      <td>2016-01-10 00:05:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384300</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10689</td>
      <td>1200</td>
      <td>425</td>
      <td>272.0</td>
      <td>10/01/2016 00:00</td>
      <td>10/01/2016 00:20</td>
      <td>2016-01-10 00:00:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384000</td>
      <td>2016-01-10 00:20:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385200</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8593</td>
      <td>780</td>
      <td>487</td>
      <td>471.0</td>
      <td>10/01/2016 00:01</td>
      <td>10/01/2016 00:14</td>
      <td>2016-01-10 00:01:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384060</td>
      <td>2016-01-10 00:14:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384840</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8619</td>
      <td>600</td>
      <td>501</td>
      <td>399.0</td>
      <td>10/01/2016 00:01</td>
      <td>10/01/2016 00:11</td>
      <td>2016-01-10 00:01:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384060</td>
      <td>2016-01-10 00:11:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384660</td>
    </tr>
    <tr>
      <th>5</th>
      <td>309</td>
      <td>420</td>
      <td>769</td>
      <td>671.0</td>
      <td>10/01/2016 00:02</td>
      <td>10/01/2016 00:09</td>
      <td>2016-01-10 00:02:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384120</td>
      <td>2016-01-10 00:09:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384540</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11914</td>
      <td>960</td>
      <td>516</td>
      <td>450.0</td>
      <td>10/01/2016 00:02</td>
      <td>10/01/2016 00:18</td>
      <td>2016-01-10 00:02:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384120</td>
      <td>2016-01-10 00:18:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385080</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3314</td>
      <td>480</td>
      <td>755</td>
      <td>780.0</td>
      <td>10/01/2016 00:03</td>
      <td>10/01/2016 00:11</td>
      <td>2016-01-10 00:03:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384180</td>
      <td>2016-01-10 00:11:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384660</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2825</td>
      <td>240</td>
      <td>701</td>
      <td>638.0</td>
      <td>10/01/2016 00:04</td>
      <td>10/01/2016 00:08</td>
      <td>2016-01-10 00:04:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384240</td>
      <td>2016-01-10 00:08:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384480</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3102</td>
      <td>1320</td>
      <td>633</td>
      <td>647.0</td>
      <td>10/01/2016 00:05</td>
      <td>10/01/2016 00:27</td>
      <td>2016-01-10 00:05:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384300</td>
      <td>2016-01-10 00:27:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385620</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4261</td>
      <td>480</td>
      <td>420</td>
      <td>86.0</td>
      <td>10/01/2016 00:05</td>
      <td>10/01/2016 00:13</td>
      <td>2016-01-10 00:05:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384300</td>
      <td>2016-01-10 00:13:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384780</td>
    </tr>
    <tr>
      <th>11</th>
      <td>8051</td>
      <td>1020</td>
      <td>386</td>
      <td>600.0</td>
      <td>10/01/2016 00:05</td>
      <td>10/01/2016 00:22</td>
      <td>2016-01-10 00:05:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384300</td>
      <td>2016-01-10 00:22:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385320</td>
    </tr>
    <tr>
      <th>12</th>
      <td>4184</td>
      <td>780</td>
      <td>534</td>
      <td>552.0</td>
      <td>10/01/2016 00:06</td>
      <td>10/01/2016 00:19</td>
      <td>2016-01-10 00:06:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384360</td>
      <td>2016-01-10 00:19:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385140</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2855</td>
      <td>720</td>
      <td>717</td>
      <td>518.0</td>
      <td>10/01/2016 00:06</td>
      <td>10/01/2016 00:18</td>
      <td>2016-01-10 00:06:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384360</td>
      <td>2016-01-10 00:18:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385080</td>
    </tr>
    <tr>
      <th>14</th>
      <td>12698</td>
      <td>420</td>
      <td>521</td>
      <td>522.0</td>
      <td>10/01/2016 00:07</td>
      <td>10/01/2016 00:14</td>
      <td>2016-01-10 00:07:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384420</td>
      <td>2016-01-10 00:14:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384840</td>
    </tr>
    <tr>
      <th>15</th>
      <td>12003</td>
      <td>180</td>
      <td>264</td>
      <td>78.0</td>
      <td>10/01/2016 00:08</td>
      <td>10/01/2016 00:11</td>
      <td>2016-01-10 00:08:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384480</td>
      <td>2016-01-10 00:11:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384660</td>
    </tr>
    <tr>
      <th>16</th>
      <td>11173</td>
      <td>1140</td>
      <td>486</td>
      <td>409.0</td>
      <td>10/01/2016 00:08</td>
      <td>10/01/2016 00:27</td>
      <td>2016-01-10 00:08:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384480</td>
      <td>2016-01-10 00:27:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385620</td>
    </tr>
    <tr>
      <th>17</th>
      <td>779</td>
      <td>480</td>
      <td>331</td>
      <td>22.0</td>
      <td>10/01/2016 00:08</td>
      <td>10/01/2016 00:16</td>
      <td>2016-01-10 00:08:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384480</td>
      <td>2016-01-10 00:16:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384960</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2406</td>
      <td>420</td>
      <td>397</td>
      <td>396.0</td>
      <td>10/01/2016 00:08</td>
      <td>10/01/2016 00:15</td>
      <td>2016-01-10 00:08:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384480</td>
      <td>2016-01-10 00:15:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384900</td>
    </tr>
    <tr>
      <th>19</th>
      <td>436</td>
      <td>540</td>
      <td>7</td>
      <td>242.0</td>
      <td>10/01/2016 00:08</td>
      <td>10/01/2016 00:17</td>
      <td>2016-01-10 00:08:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384480</td>
      <td>2016-01-10 00:17:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385020</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3192</td>
      <td>1380</td>
      <td>75</td>
      <td>512.0</td>
      <td>10/01/2016 00:08</td>
      <td>10/01/2016 00:31</td>
      <td>2016-01-10 00:08:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384480</td>
      <td>2016-01-10 00:31:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385860</td>
    </tr>
    <tr>
      <th>21</th>
      <td>12286</td>
      <td>840</td>
      <td>479</td>
      <td>499.0</td>
      <td>10/01/2016 00:09</td>
      <td>10/01/2016 00:23</td>
      <td>2016-01-10 00:09:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384540</td>
      <td>2016-01-10 00:23:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385380</td>
    </tr>
    <tr>
      <th>22</th>
      <td>3449</td>
      <td>300</td>
      <td>116</td>
      <td>400.0</td>
      <td>10/01/2016 00:09</td>
      <td>10/01/2016 00:14</td>
      <td>2016-01-10 00:09:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384540</td>
      <td>2016-01-10 00:14:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384840</td>
    </tr>
    <tr>
      <th>23</th>
      <td>6339</td>
      <td>300</td>
      <td>648</td>
      <td>769.0</td>
      <td>10/01/2016 00:09</td>
      <td>10/01/2016 00:14</td>
      <td>2016-01-10 00:09:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384540</td>
      <td>2016-01-10 00:14:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384840</td>
    </tr>
    <tr>
      <th>24</th>
      <td>12355</td>
      <td>360</td>
      <td>142</td>
      <td>573.0</td>
      <td>10/01/2016 00:10</td>
      <td>10/01/2016 00:16</td>
      <td>2016-01-10 00:10:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384600</td>
      <td>2016-01-10 00:16:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384960</td>
    </tr>
    <tr>
      <th>25</th>
      <td>9408</td>
      <td>1800</td>
      <td>593</td>
      <td>489.0</td>
      <td>10/01/2016 00:10</td>
      <td>10/01/2016 00:40</td>
      <td>2016-01-10 00:10:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384600</td>
      <td>2016-01-10 00:40:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452386400</td>
    </tr>
    <tr>
      <th>26</th>
      <td>4735</td>
      <td>1680</td>
      <td>593</td>
      <td>489.0</td>
      <td>10/01/2016 00:11</td>
      <td>10/01/2016 00:39</td>
      <td>2016-01-10 00:11:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384660</td>
      <td>2016-01-10 00:39:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452386340</td>
    </tr>
    <tr>
      <th>27</th>
      <td>5554</td>
      <td>420</td>
      <td>731</td>
      <td>597.0</td>
      <td>10/01/2016 00:11</td>
      <td>10/01/2016 00:18</td>
      <td>2016-01-10 00:11:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384660</td>
      <td>2016-01-10 00:18:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385080</td>
    </tr>
    <tr>
      <th>28</th>
      <td>12496</td>
      <td>420</td>
      <td>731</td>
      <td>597.0</td>
      <td>10/01/2016 00:11</td>
      <td>10/01/2016 00:18</td>
      <td>2016-01-10 00:11:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384660</td>
      <td>2016-01-10 00:18:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385080</td>
    </tr>
    <tr>
      <th>29</th>
      <td>3408</td>
      <td>420</td>
      <td>74</td>
      <td>149.0</td>
      <td>10/01/2016 00:11</td>
      <td>10/01/2016 00:18</td>
      <td>2016-01-10 00:11:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452384660</td>
      <td>2016-01-10 00:18:00</td>
      <td>10</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1452385080</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>284540</th>
      <td>13136</td>
      <td>1140</td>
      <td>2</td>
      <td>302.0</td>
      <td>23/01/2016 23:57</td>
      <td>24/01/2016 00:16</td>
      <td>2016-01-23 23:57:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593420</td>
      <td>2016-01-24 00:16:00</td>
      <td>24</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1453594560</td>
    </tr>
    <tr>
      <th>284541</th>
      <td>4995</td>
      <td>1440</td>
      <td>133</td>
      <td>626.0</td>
      <td>23/01/2016 23:57</td>
      <td>24/01/2016 00:21</td>
      <td>2016-01-23 23:57:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593420</td>
      <td>2016-01-24 00:21:00</td>
      <td>24</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1453594860</td>
    </tr>
    <tr>
      <th>284542</th>
      <td>13345</td>
      <td>300</td>
      <td>444</td>
      <td>512.0</td>
      <td>23/01/2016 23:57</td>
      <td>24/01/2016 00:02</td>
      <td>2016-01-23 23:57:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593420</td>
      <td>2016-01-24 00:02:00</td>
      <td>24</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1453593720</td>
    </tr>
    <tr>
      <th>284543</th>
      <td>10007</td>
      <td>420</td>
      <td>707</td>
      <td>761.0</td>
      <td>23/01/2016 23:57</td>
      <td>24/01/2016 00:04</td>
      <td>2016-01-23 23:57:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593420</td>
      <td>2016-01-24 00:04:00</td>
      <td>24</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1453593840</td>
    </tr>
    <tr>
      <th>284544</th>
      <td>7165</td>
      <td>1380</td>
      <td>133</td>
      <td>626.0</td>
      <td>23/01/2016 23:58</td>
      <td>24/01/2016 00:21</td>
      <td>2016-01-23 23:58:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593480</td>
      <td>2016-01-24 00:21:00</td>
      <td>24</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1453594860</td>
    </tr>
    <tr>
      <th>284545</th>
      <td>6149</td>
      <td>720</td>
      <td>217</td>
      <td>298.0</td>
      <td>23/01/2016 23:58</td>
      <td>24/01/2016 00:10</td>
      <td>2016-01-23 23:58:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593480</td>
      <td>2016-01-24 00:10:00</td>
      <td>24</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1453594200</td>
    </tr>
    <tr>
      <th>284546</th>
      <td>11010</td>
      <td>1020</td>
      <td>64</td>
      <td>489.0</td>
      <td>23/01/2016 23:58</td>
      <td>24/01/2016 00:15</td>
      <td>2016-01-23 23:58:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593480</td>
      <td>2016-01-24 00:15:00</td>
      <td>24</td>
      <td>01</td>
      <td>2016</td>
      <td>00</td>
      <td>Sunday</td>
      <td>1453594500</td>
    </tr>
    <tr>
      <th>284547</th>
      <td>6946</td>
      <td>120</td>
      <td>128</td>
      <td>405.0</td>
      <td>23/01/2016 23:58</td>
      <td>24/01/2016 00:00</td>
      <td>2016-01-23 23:58:00</td>
      <td>23</td>
      <td>01</td>
      <td>2016</td>
      <td>23</td>
      <td>Saturday</td>
      <td>1453593480</td>
      <td>2016-01-24 00:00:00</td>