In [1]:
import calendar
import json
import os
import time
import traceback
from datetime import datetime

import pandas as pd
import requests
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T

spark = (
    SparkSession.builder
        .master("local")
        .appName("TFL Notebook")
        .getOrCreate()
)

trips = spark.read.parquet("data/parquet_trip")

trips.limit(10).toPandas()

,rental_id,duration,bike_id,end_station_id,end_station_name,start_station_id,start_station_name,start_ts,start_year,start_month,start_day,start_day_of_week,start_hour,end_ts,end_year,end_month,end_day,end_day_of_week,end_hour
0,61460085,660,139,819,"Belvedere Road 2, South Bank",217,"Wormwood Street, Liverpool Street",2017-01-05 07:04:00,2017,1,5,5,7,2017-01-05 07:15:00,2017,1,5,5,7
1,61449020,660,6359,217,"Wormwood Street, Liverpool Street",819,"Belvedere Road 2, South Bank",2017-01-04 16:05:00,2017,1,4,4,16,2017-01-04 16:16:00,2017,1,4,4,16
2,61437158,600,14302,819,"Belvedere Road 2, South Bank",217,"Wormwood Street, Liverpool Street",2017-01-04 07:17:00,2017,1,4,4,7,2017-01-04 07:27:00,2017,1,4,4,7
3,61473622,660,8877,217,"Wormwood Street, Liverpool Street",273,"Belvedere Road 1, South Bank",2017-01-05 16:02:00,2017,1,5,5,16,2017-01-05 16:13:00,2017,1,5,5,16
4,61484961,600,5700,819,"Belvedere Road 2, South Bank",217,"Wormwood Street, Liverpool Street",2017-01-06 07:16:00,2017,1,6,6,7,2017-01-06 07:26:00,2017,1,6,6,7
5,61482672,420,13720,246,"Berry Street, Clerkenwell",433,"Wren Street, Holborn",2017-01-05 21:05:00,2017,1,5,5,21,2017-01-05 21:12:00,2017,1,5,5,21
6,61482473,420,13720,433,"Wren Street, Holborn",594,"Kingsway Southbound, Strand",2017-01-05 20:45:00,2017,1,5,5,20,2017-01-05 20:52:00,2017,1,5,5,20
7,61470321,480,12610,162,"Southampton Place, Holborn",246,"Berry Street, Clerkenwell",2017-01-05 13:00:00,2017,1,5,5,13,2017-01-05 13:08:00,2017,1,5,5,13
8,61447445,540,11477,358,"High Holborn , Covent Garden",246,"Berry Street, Clerkenwell",2017-01-04 14:22:00,2017,1,4,4,14,2017-01-04 14:31:00,2017,1,4,4,14
9,61495906,360,10616,427,"Cheapside, Bank",66,"Holborn Circus, Holborn",2017-01-06 14:01:00,2017,1,6,6,14,2017-01-06 14:07:00,2017,1,6,6,14

In [2]:
(
    trips
    .groupby('start_year', 'start_month')
    .agg({
        "*": "count",
        "duration": "avg",
    })
    .toPandas()
    .sort_values(['start_year', 'start_month'], ascending=[True, True])
)

    start_year  start_month  avg(duration)  count(1)
42        2015            1    1148.544935    546113
0         2015            2    1162.760531    542526
30        2015            3    1214.140998    694364
15        2015            4    1550.291654    829921
43        2015            5    1735.941579    892692
34        2015            6    1536.338353   1030640
32        2015            7    1722.151621   1122670
16        2015            8    1777.191664   1030760
21        2015            9    1391.295199    894635
24        2015           10    1349.525099    876245
19        2015           11    1148.557617    677698
6         2015           12    1304.595470    601884
27        2016            1    1135.496437    739721
12        2016            2    1088.316560    725348
48        2016            3    1165.594645    657897
28        2016            4    1342.819419    772613
10        2016            5    1399.709144   1001870
25        2016            6    1251.827203    951427
5         2016            7    1460.318345   1173757
39        2016            8    1442.330010   1104845
17        2016            9    1223.821049    851028
20        2016           10    1127.815963    935877
7         2016           11    1008.733326    704380
26        2016           12    1208.624326    651884
46        2017            1    1026.357786    632456
38        2017            2    1041.257325    612300
1         2017            3    1125.287671    640002
29        2017            4    1365.556721    908399
41        2017            5    1275.425561    982879
45        2017            6    1336.291333   1087156
13        2017            7    1400.723068   1120641
2         2017            8    1411.873817    982788
23        2017            9    1179.497294    910911
3         2017           10    1124.738852    948601
40        2017           11     992.850320    781786
22        2017           12    1094.674611    526354
8         2018            1     968.661406    637781
44        2018            2     985.443093    568188
9         2018            3    1039.761476    595999
47        2018            4    1273.090223    813676
18        2018            5    1341.610500   1099385
37        2018            6    1305.047631   1168667
33        2018            7    1352.294996   1239205
11        2018            8    1301.332318   1046582
31        2018            9    1173.849765    998118
4         2018           10    1092.911632    967114
36        2018           11    1001.236218    728658
35        2018           12    1130.819086    578511
14        2019            1    1007.433470    324290

In [19]:
trips.select(F.count(F.when(F.col('duration').isNull(), 'duration'))).toPandas()

   count(CASE WHEN (duration IS NULL) THEN duration END)
0                                                  0