In [1]:
import calendar
import json
import os
import time
import traceback
from datetime import datetime

import pandas as pd
import requests
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T

spark = (
    SparkSession.builder
        .master("local")
        .appName("TFL Notebook")
        .getOrCreate()
)

trips = spark.read.parquet("data/parquet")

trips.limit(10).toPandas()

,rental_id,duration,bike_id,end_date,end_station_id,end_station_name,start_date,start_station_id,start_station_name
0,41866884,600,8876,16/03/2015 00:00,410,"Edgware Road Station, Paddington",15/03/2015 23:50,6,"Broadcasting House, Marylebone"
1,41866889,480,9384,16/03/2015 00:00,580,"Doddington Grove, Kennington",15/03/2015 23:52,94,"Bricklayers Arms, Borough"
2,41866836,1920,12180,16/03/2015 00:01,664,"Austin Road, Battersea",15/03/2015 23:29,194,"Hop Exchange, The Borough"
3,41866853,1440,8468,16/03/2015 00:01,693,"Felsham Road, Putney",15/03/2015 23:37,687,"Maclise Road, Olympia"
4,41866894,420,11789,16/03/2015 00:02,28,"Bolsover Street, Fitzrovia",15/03/2015 23:55,162,"Southampton Place, Holborn"
5,41866909,180,2797,16/03/2015 00:03,294,"St. George's Square, Pimlico",16/03/2015 00:00,268,"Belgrave Road, Victoria"
6,41866899,300,9999,16/03/2015 00:03,675,"Usk Road, Battersea",15/03/2015 23:58,701,"Vicarage Crescent, Battersea"
7,41866886,780,6028,16/03/2015 00:04,205,"New Road 2, Whitechapel",15/03/2015 23:51,717,"Dunston Road , Haggerston"
8,41866895,540,6555,16/03/2015 00:04,125,"Borough High Street, The Borough",15/03/2015 23:55,64,"William IV Street, Strand"
9,41866881,900,5674,16/03/2015 00:05,185,"Alderney Street, Pimlico",15/03/2015 23:50,229,"Whitehall Place, Strand"

In [3]:
df_1 = (
    trips
    .groupby('start_station_name')
    .agg({
        "*": "count",
        "duration": "avg",
    })
)

df_1.toPandas()

                                start_station_name  avg(duration)  count(1)
0                        Dunston Road , Haggerston    1449.487560     50523
1                    George Place Mews, Marylebone    1089.242731     19293
2                          Panton Street, West End    1697.574452     32034
3                   Limerston Street, West Chelsea    1199.971528     40039
4                               Park Lane, Mayfair    1868.823090     20061
5                    Russell Gardens, Holland Park     988.986906      1451
6                       Portland Place, Marylebone    1088.498327     30486
7                  Montgomery Square, Canary Wharf    1492.336595     15330
8                  Appold Street, Liverpool Street     985.731392     27058
9                      Kingsway Southbound, Strand    1191.666845     28023
10                      Gloucester Street, Pimlico    1215.807615     31333
11                        London Zoo, Regents Park    1916.778523      2384
12                    Cadogan Close, Victoria Park    2188.282443     27772
13                     Charlotte Street, Fitzrovia    1016.463650     27978
14                          Lambeth Road, Vauxhall    1089.133378     16397
15          Embankment (Horse Guards), Westminster    1680.229463      6537
16            Thessaly Road North, Wandsworth Road    1184.483051      7080
17                   Normand Park, West Kensington    1276.828714     25075
18            Christopher Street, Liverpool Street     887.881386     28226
19                   Falcon Road, Clapham Junction    1184.850574     36841
20                           Queen Marys, Mile End    1085.599228      4147
21                        Imperial Road, Sands End    1304.548086     18654
22                           Finlay Street, Fulham    1413.034218     21129
23                      Lancaster Gate , Bayswater    1610.505672     34113
24                        Hinde Street, Marylebone    1144.399376     39101
25                West Cromwell Road, Earl's Court    1145.180112     21903
26                      Addison Road, Holland Park    1270.899884      9479
27                    East Ferry Road, Cubitt Town    1828.880532      6914
28    Aquatic Centre, Queen Elizabeth Olympic Park    2618.971035     36872
29                    Union Grove, Wandsworth Road    1371.734321     18895
..                                             ...            ...       ...
846               Queensdale Road, Shepherd's Bush    1356.133071      5591
847                         Sidney Street, Stepney     906.386555      3570
848                        Milroy Walk, South Bank    1037.919359     36681
849            Wandsworth Town Station, Wandsworth    1349.963031     22722
850                     Clifton Street, Shoreditch     863.031489     17371
851                  Gloucester Terrace, Bayswater    1267.384279     19184
852          Prince Albert Road, The Regent's Park    1548.357573     23928
853             Fishermans Walk West, Canary Wharf    1209.815595      3796
854                    Godliman Street, St. Paul's    1110.193687     47551
855               Hollybush Gardens, Bethnal Green    1123.189672     15337
856                         Burdett Road, Mile End    1372.241993     14331
857                      Smugglers Way, Wandsworth    1710.500128     11697
858                     Storey's Gate, Westminster    1706.174995     60596
859                       Lindfield Street, Poplar    1076.559499     14370
860                 Clarkson Street, Bethnal Green    1219.419278     11744
861                       Albert Square, Stockwell    1172.986850      6388
862                   Haggerston Road, Haggerston     1641.085772     29730
863                           Rodney Street, Angel    1052.437324      9613
864                 Serpentine Car Park, Hyde Park    1944.815192     59927
865               Albany Street, The Regent's Park    1067.323459     20930
866                         Nesham Street, Wapping     808.335346     53831
867                    Crawford Street, Marylebone    1092.434742     27851
868                          Lower Marsh, Waterloo    1096.320259     25904
869                       Whiston Road, Haggerston    1108.160765     17143
870  Here East South, Queen Elizabeth Olympic Park    1613.532934       167
871                          Maclise Road, Olympia    1010.466069     23430
872                Courland Grove, Wandsworth Road    1513.866101     13189
873                 Eel Brook Common, Walham Green    1376.735238     15750
874                      Sackville Street, Mayfair    1357.378356     29348
875      Victoria and Albert Museum, Cromwell Road    1297.920851      1693

[876 rows x 3 columns]