In [6]:
import random
from datetime import datetime

import geopandas as gpd
import googlemaps
import keyring
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import mplleaflet
import pandas as pd
import polyline
import seaborn as sns
from IPython.display import Markdown
from pyspark.sql import SparkSession
from pyspark.sql import types as T
from shapely.geometry import Point, LineString

palette = sns.color_palette("colorblind", 20)


def to_geo(df, x_field='longitude', y_field='latitude'):
    geometry = [Point(xy) for xy in zip(df[x_field], df[y_field])]
    return gpd.GeoDataFrame(df, geometry=geometry)


spark = (
    SparkSession.builder
        .master("local")
        .appName("TFL Notebook")
        .config('spark.executor.memory', '8G')
        .config('spark.driver.memory', '16G')
        .config('spark.driver.maxResultSize', '10G')
        .config("spark.sql.crossJoin.enabled", "true")
        .getOrCreate()
)

BIKE_POINTS_FILE = "../data/bike-points.csv"

schema = T.StructType([
    T.StructField("idx",       T.IntegerType(), False),
    T.StructField("id",        T.IntegerType(), False),
    T.StructField("name",      T.StringType(),  False),
    T.StructField("latitude",  T.DoubleType(),  False),
    T.StructField("longitude", T.DoubleType(),  False),
    T.StructField("osgb_x",    T.DoubleType(),  False),
    T.StructField("osgb_y",    T.DoubleType(),  False),
    T.StructField("numdocks",  T.LongType(),    False),
    T.StructField("num_bikes", T.LongType(),    False),
    T.StructField("num_empty", T.LongType(),    False)
])
bike_points = spark.read.csv(BIKE_POINTS_FILE, schema=schema, header='true', mode="PERMISSIVE")
bike_points.createOrReplaceTempView("bike_points")

trips = spark.read.parquet("../data/parquet_trip")
trips.createOrReplaceTempView("trips")

df = spark.sql("""
    select sum(duration) as duration, count(1) as trip_count, bike_id, start_year, start_month, start_day from trips
    group by bike_id, start_year, start_month, start_day
    order by trip_count desc
""")

df.createOrReplaceTempView("busy_bikes")

df.toPandas()

          duration  trip_count  bike_id  start_year  start_month  start_day
0            38160          32   7349.0        2016            1         25
1            21840          30  13523.0        2016            1         29
2            14160          30  12295.0        2016            2          2
3            31920          30   9886.0        2016            2          3
4            33840          30   4498.0        2016            2          2
5            30240          30  13343.0        2016            1         29
6            37560          28   9456.0        2016            2          6
7            19560          28   9600.0        2016            1         28
8            20040          28  11706.0        2017            9          1
9            35280          28   2549.0        2016            1         24
10           23400          28  13534.0        2016            2          2
11           18360          28  13246.0        2016            2          2
12           33120          28   1293.0        2016            1         27
13           14760          28   7180.0        2016            1         28
14           23760          28  11409.0        2016            1         28
15           22680          28   2009.0        2016            2          5
16           27240          28   2344.0        2016            1         28
17           36540          27   2768.0        2015            7          9
18           25440          26  12142.0        2016            1         30
19           17760          26   5402.0        2016            2          4
20           19920          26   4962.0        2016            2          5
21           18480          26   6785.0        2016            1         29
22           14280          26  11416.0        2016            1         28
23           20640          26   4989.0        2016            1         24
24           17400          26  10832.0        2016            2          4
25           20760          26   1635.0        2016            2          4
26           21840          26  10446.0        2016            1         28
27           19680          26   8798.0        2016            2          1
28           19920          26   7723.0        2016            2          5
29           20640          26   9738.0        2016            2          4
...            ...         ...      ...         ...          ...        ...
10615673      1620           1   9864.0        2015            7          4
10615674      2820           1   7732.0        2015            7          4
10615675      1080           1   4324.0        2015            7          4
10615676      1260           1  12473.0        2015            7          4
10615677      4380           1   4463.0        2015            7          4
10615678      1260           1    856.0        2015            7          5
10615679       300           1   1387.0        2015            7          5
10615680       480           1   8498.0        2015            7          5
10615681       840           1   7195.0        2015            7          5
10615682      1860           1   6033.0        2015            7          6
10615683       660           1   6281.0        2015            7          6
10615684       600           1  11943.0        2015            7          6
10615685       540           1  10779.0        2015            7          6
10615686       420           1  12995.0        2015            7          6
10615687       480           1    958.0        2015            7          6
10615688     68520           1   7299.0        2015            7          7
10615689      1380           1   5736.0        2015            7          7
10615690      2400           1  12657.0        2015            7          7
10615691      4440           1   5234.0        2015            7          7
10615692      1860           1  10648.0        2015            7          7
10615693      1140           1   2061.0        2015            7          8
10615694      1260           1   5225.0        2015            7          8
10615695      3480           1   1606.0        2015            7          9
10615696      1260           1  11995.0        2015            7         10
10615697       120           1    495.0        2015            7         10
10615698      1560           1   6050.0        2015            7         10
10615699      1800           1   7737.0        2015            7         10
10615700       120           1   6111.0        2015            7         11
10615701     78540           1  12656.0        2015            7         11
10615702      4680           1   2319.0        2015            7         11

[10615703 rows x 6 columns]